# Matching SDG dataset with SciNet dataset starts from here

In [2]:
import time

In [3]:
import pandas as pd
import numpy as np

In [130]:
pd.set_option('display.max_rows', 10000)
pd.set_option('display.max_columns', 100)

In [5]:
%%time
import sqlite3
con = sqlite3.connect("result.sqlite")
cur = con.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())

[('scinet_papers_matched',)]
CPU times: user 2.04 ms, sys: 738 Âµs, total: 2.78 ms
Wall time: 39.4 ms

In [6]:
cur.execute("PRAGMA table_info('scinet_papers_matched')").fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'PaperID', 'INTEGER', 0, None, 0),
 (2, 'DOI', 'TEXT', 0, None, 0),
 (3, 'DocType', 'TEXT', 0, None, 0),
 (4, 'Year', 'REAL', 0, None, 0),
 (5, 'Date', 'TEXT', 0, None, 0),
 (6, 'JournalID', 'REAL', 0, None, 0),
 (7, 'ConferenceSeriesID', 'REAL', 0, None, 0),
 (8, 'Citation_Count', 'REAL', 0, None, 0),
 (9, 'C10', 'REAL', 0, None, 0),
 (10, 'Reference_Count', 'REAL', 0, None, 0),
 (11, 'C5', 'REAL', 0, None, 0),
 (12, 'Team_Size', 'REAL', 0, None, 0),
 (13, 'Institution_Count', 'REAL', 0, None, 0),
 (14, 'Disruption', 'REAL', 0, None, 0),
 (15, 'Atyp_10pct_Z', 'REAL', 0, None, 0),
 (16, 'Atyp_Pairs', 'REAL', 0, None, 0),
 (17, 'Atyp_Median_Z', 'REAL', 0, None, 0),
 (18, 'SB_B', 'REAL', 0, None, 0),
 (19, 'SB_T', 'REAL', 0, None, 0),
 (20, 'Patent_Count', 'INTEGER', 0, None, 0),
 (21, 'Newsfeed_Count', 'INTEGER', 0, None, 0),
 (22, 'Tweet_Count', 'INTEGER', 0, None, 0),
 (23, 'NCT_Count', 'INTEGER', 0, None, 0),
 (24, 'NIH_Count', 'INTEGER', 0, None, 0),
 (25, 'NSF_Count', 'INTEGER', 0, None, 0),
 (26, 'WSB_mu', 'REAL', 0, None, 0),
 (27, 'WSB_sigma', 'REAL', 0, None, 0),
 (28, 'WSB_Cinf', 'REAL', 0, None, 0),
 (29, 'fem', 'INTEGER', 0, None, 0),
 (30, 'country', 'TEXT', 0, None, 0),
 (31, 'sdg_codes', 'TEXT', 0, None, 0),
 (32, 'fem_ratio', 'REAL', 0, None, 0)]

In [73]:
%%time
df_matched_2 = pd.read_sql("select * from scinet_papers_matched", con)

CPU times: user 18min 27s, sys: 3min 2s, total: 21min 29s
Wall time: 21min 32s

In [68]:
import pickle

In [77]:
with open('df_matched.pkl' , 'wb') as handle:
    pickle.dump(df_matched, handle)

In [ ]:
%%time
# Split the 'sdg_codes' column by ',' and convert each item to integer
df_matched['sdg_codes'] = df_matched['sdg_codes'].apply(lambda x: [int(i) for i in str(x).split(',')] if pd.notna(x) else [])

# Explode 'sdg_codes' column
df_exploded = df_matched.explode('sdg_codes')

# Get dummies for 'sdg_codes' column, this creates new columns for each unique sdg code with 0 or 1 as value
df_sdg_codes = pd.get_dummies(df_exploded['sdg_codes'], prefix='sdg')

# Sum up the dummy values grouped by the original index
df_sdg_codes = df_sdg_codes.groupby(df_sdg_codes.index).sum()

# Merge back into the original DataFrame
df_matched = pd.concat([df_matched, df_sdg_codes], axis=1)

# For columns not present in df_sdg_codes add them manually with np.nan values
for i in range(1, 18):
    if 'sdg_' + str(i) not in df_matched:
        df_matched['sdg_' + str(i)] = np.nan

# Replace 0s in the 'sdg_' columns with np.nan
df_matched.loc[:, 'sdg_1':'sdg_17'] = df_matched.loc[:, 'sdg_1':'sdg_17'].replace({0: np.nan})

In [78]:
sum(df_matched.sdg_codes.isnull())

94412516

In [81]:
94412516 / len(df_matched)

0.9493933150232646

In [80]:
df_matched.head()

,index,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,C5,Team_Size,Institution_Count,Disruption,Atyp_10pct_Z,Atyp_Pairs,Atyp_Median_Z,SB_B,SB_T,Patent_Count,Newsfeed_Count,Tweet_Count,NCT_Count,NIH_Count,NSF_Count,WSB_mu,WSB_sigma,WSB_Cinf,fem,country,sdg_codes,fem_ratio,sdg_1,sdg_2,sdg_3,sdg_4,sdg_5,sdg_6,sdg_7,sdg_8,sdg_9,sdg_10,sdg_11,sdg_12,sdg_13,sdg_14,sdg_15,sdg_16,sdg_17
0,0,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,9.0,3.0,1.0,-0.004613,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,2,NaN,NaN,NaN,1,"US,US,US",None,0.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,15354235,10.1007/978-3-662-44777-2_60,Conference,2014.0,2014-09-08,NaN,1.154039e+09,9.0,NaN,18.0,8.0,3.0,2.0,-0.002883,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,NaN,NaN,NaN,0,"FI,CL,CL",None,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,16763247,10.22004/ag.econ.174942,Repository,2014.0,2014-01-01,3.121261e+09,NaN,0.0,NaN,0.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,NaN,NaN,NaN,1,None,None,0.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,24327294,10.1007/978-3-319-03973-2_13,Conference,2013.0,2013-01-01,NaN,1.196984e+09,20.0,NaN,25.0,17.0,2.0,1.0,-0.001490,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,NaN,NaN,NaN,1,"GB,GB",None,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,35428871,10.1023/a:1022270923160,Journal,1998.0,1998-01-01,2.016092e+08,NaN,6.0,2.0,16.0,0.0,2.0,1.0,0.001411,-18.433685,28.0,-0.401707,4.0,8.0,0,0,0,0,0,0,NaN,NaN,NaN,0,"US,US",None,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
%%time
import csv
import pandas as pd

df_MAG_F = pd.read_csv('MAG_2021-12-06/FieldsOfStudy.txt', sep='\t', header=None, 
                     quoting=csv.QUOTE_NONE)

df_MAG_F

# Column 5 here is the level of fields ranging from 0 to 5.
# Lv0 field can be considered as the main field.
# Lv1 field can be considered as the sub-field.

CPU times: user 1.63 s, sys: 163 ms, total: 1.79 s
Wall time: 1.83 s

,0,1,2,3,4,5,6,7,8,9
0,417682,16941,night air,Night air,NaN,2,104,103,428,2016-06-24
1,1443462,16012,immobiliser,Immobiliser,NaN,2,220,215,1028,2016-06-24
2,1576492,12988,matrix pencil,Matrix pencil,NaN,3,1855,1803,30181,2016-06-24
3,2657588,13563,combinatorial topology,Combinatorial topology,NaN,3,571,534,22755,2016-06-24
4,3079626,8615,quantum electrodynamics,Quantum electrodynamics,NaN,1,237527,229050,3186718,2016-06-24
...,...,...,...,...,...,...,...,...,...,...
714966,3020516982,15210,cholesterol diet,Cholesterol diet,NaN,3,559,557,4074,2020-05-01
714967,3020525681,16911,community connectedness,Community connectedness,NaN,3,116,116,718,2020-05-01
714968,3020532668,14800,pre cooling,Pre cooling,NaN,2,1082,1070,2749,2020-05-01
714969,3020562556,14742,image guided radiotherapy,Image guided radiotherapy,NaN,4,929,924,6650,2020-05-01
714970,3020702029,15527,short implants,Short implants,NaN,3,384,382,3672,2020-05-01

In [101]:
SciNet_Paper_LV0Field = pd.read_csv("./SciNet_Paper_LV0Field.csv", sep= '\t')

In [118]:
tt = pd.read_csv("./SciNet_Paper_LV1Field.csv", sep= '\t')

KeyboardInterrupt

In [121]:
SciNet_Paper_LV0Field = pd.read_csv("./SciNet_Paper_LV0Field.csv", sep= '\t')

,0,1,2,3,4,5,6,7,8,9
0,417682,16941,night air,Night air,NaN,2,104,103,428,2016-06-24
1,1443462,16012,immobiliser,Immobiliser,NaN,2,220,215,1028,2016-06-24
2,1576492,12988,matrix pencil,Matrix pencil,NaN,3,1855,1803,30181,2016-06-24
3,2657588,13563,combinatorial topology,Combinatorial topology,NaN,3,571,534,22755,2016-06-24
4,3079626,8615,quantum electrodynamics,Quantum electrodynamics,NaN,1,237527,229050,3186718,2016-06-24
...,...,...,...,...,...,...,...,...,...,...
714966,3020516982,15210,cholesterol diet,Cholesterol diet,NaN,3,559,557,4074,2020-05-01
714967,3020525681,16911,community connectedness,Community connectedness,NaN,3,116,116,718,2020-05-01
714968,3020532668,14800,pre cooling,Pre cooling,NaN,2,1082,1070,2749,2020-05-01
714969,3020562556,14742,image guided radiotherapy,Image guided radiotherapy,NaN,4,929,924,6650,2020-05-01
714970,3020702029,15527,short implants,Short implants,NaN,3,384,382,3672,2020-05-01

In [106]:
def find_subject(inp):
    idx = df_MAG_F.loc[df_MAG_F[3] == inp, :][0]
    indexes = SciNet_Paper_LV0Field.loc[SciNet_Paper_LV0Field['1'] == 121332964, :].index
    return indexes

In [88]:
# Please note that all data index in Original MAG are int format as 3 below.
df_MAG_Lv0_Field[df_MAG_Lv0_Field[3] == 'Physics']
# As we find out the field ID of physics is 121332964.

KeyError: 3

In [14]:
%%time
# Select physics papers from SciNet_Paper_LV0Field table.
# Please note that all data index in SciNet are string format as '1' below.
Physics_Paper = SciNet_Paper_LV0Field.loc[SciNet_Paper_LV0Field['1'] == 121332964, :]
Physics_Paper

CPU times: user 879 ms, sys: 644 ms, total: 1.52 s
Wall time: 1.52 s

                    0          1         2
13           38064030  121332964  0.408722
29          132789625  121332964  0.427921
61          170361713  121332964  0.331290
62           56740737  121332964  0.288023
98          208270992  121332964  0.396003
...               ...        ...       ...
116942077  3204506570  121332964  0.399821
116942079  3204506608  121332964  0.396794
116942082  3204506667  121332964  0.373935
116942111  3204506902  121332964  0.320623
116942133  3204507122  121332964  0.431623

[5153365 rows x 3 columns]

In [62]:
sdg = pd.read_csv('/kellogg/proj/jhc0261/sdg/doi_sdg.csv', delimiter=',')

In [13]:
%%time
PAA = pd.read_csv("/kellogg/proj/jhc0261/sdg/SciSciNet_2023/SciSciNet_PaperAuthorAffiliations.tsv", sep='\t')

CPU times: user 1min 34s, sys: 33.7 s, total: 2min 8s
Wall time: 2min 8s

In [14]:
PAA.head()

   PaperID    AuthorID  AffiliationID  AuthorSequenceNumber
0       15   199142497            NaN                     1
1       15   680395887            NaN                     2
2       23  1243978490     79576946.0                     1
3       23  2582258949            NaN                     3
4       23  2582736345            NaN                     2

In [202]:
len(np.unique(author.AuthorID))

134197162

In [173]:
aut = pd.read_csv("/kellogg/proj/jhc0261/sdg/SciSciNet_2023/SciSciNet_Authors.tsv", sep='\t', nrows = 100)

In [174]:
aut

,AuthorID,Author_Name,H-index,Productivity,Average_C10,Average_LogC10
0,584,GÃ¶zde Ãzdikmenli-Demir,3,5,NaN,NaN
1,859,Gy. TolmÃ¡r,1,3,0.666667,0.366204
2,978,Ximena FaÃºndez,4,10,8.666667,2.129520
3,1139,Jennifer Putzi,1,4,1.750000,0.659764
4,1476,å²ç¢ æå³¶,0,1,0.000000,0.000000
...,...,...,...,...,...,...
95,44880,Dario Garcia-Gasulla,7,65,2.500000,1.242453
96,45600,Nils Ingri,23,65,28.215385,2.595016
97,46402,Veronica Vascotto,1,2,NaN,NaN
98,46571,Benjamin Klopsch,12,58,9.250000,1.958717
99,46586,Lars Goerigk,30,70,930.857143,5.218702

In [175]:
gender # it is better to just use gender dataset; it contains the same information of AUthors.tsv

,AuthorID,Author_Name,H-index,Productivity,Average_C10,Average_LogC10,Inference_Sources,Inference_Counts,P(gf)
0,584,GÃ¶zde Ãzdikmenli-Demir,3,5,NaN,NaN,16.0,1003.0,0.981
1,859,Gy. TolmÃ¡r,1,3,0.666667,0.366204,NaN,NaN,NaN
2,978,Ximena FaÃºndez,4,10,8.666667,2.129520,20.0,30709.0,0.987
3,1139,Jennifer Putzi,1,4,1.750000,0.659764,33.0,1782283.0,0.992
4,1476,å²ç¢ æå³¶,0,1,0.000000,0.000000,10.0,333.0,0.252
...,...,...,...,...,...,...,...,...,...
134197157,3217810999,Junghwa Hwang,0,1,NaN,NaN,4.0,7.0,0.677
134197158,3217811001,ÙØ±Ø­Ø§Ù Ø§ÙØ¹ØªÙØ¨ÙØ Ø£ÙØ±Ø§Ø­,0,1,NaN,NaN,NaN,NaN,NaN
134197159,3217811010,Rongo,1,1,NaN,NaN,NaN,NaN,NaN
134197160,3217811011,Zhen Zhang,0,1,NaN,NaN,1.0,6.0,0.000
134197161,3217811013,Muâamar Musa Nurwigantara,0,1,NaN,NaN,NaN,NaN,NaN

In [182]:
gender.columns  = ['AuthorID', 'Author_Name', 'H-index', 'Productivity', 'Average_C10',
       'Average_LogC10', 'Inference_Sources', 'Inference_Counts', 'P_gf']

In [187]:
fem = gender[gender['P_gf']> 0.95]

In [189]:
fem

,AuthorID,Author_Name,H-index,Productivity,Average_C10,Average_LogC10,Inference_Sources,Inference_Counts,P_gf
0,584,GÃ¶zde Ãzdikmenli-Demir,3,5,NaN,NaN,16.0,1003.0,0.981
2,978,Ximena FaÃºndez,4,10,8.666667,2.129520,20.0,30709.0,0.987
3,1139,Jennifer Putzi,1,4,1.750000,0.659764,33.0,1782283.0,0.992
6,1968,MarÃ­a Isabel Lorca MartÃ­n de Villodres,0,3,NaN,NaN,34.0,1944793.0,0.953
8,2722,Susan Macicak,1,2,17.000000,2.890372,31.0,1291468.0,0.992
...,...,...,...,...,...,...,...,...,...
134197138,3217810865,Alexia PerÃ©z Vivar,0,1,NaN,NaN,27.0,106250.0,0.990
134197141,3217810900,Mami Osozawa,0,1,NaN,NaN,15.0,612.0,0.974
134197146,3217810935,Nurun Nahar Happy,1,1,NaN,NaN,2.0,4.0,1.000
134197149,3217810945,Melissa L. Bastacky,0,1,NaN,NaN,31.0,944576.0,0.991
134197153,3217810975,Esther Saskia Kostelijk,0,1,NaN,NaN,33.0,428984.0,0.984

In [167]:
affiliation = pd.read_csv("/kellogg/proj/jhc0261/sdg/SciSciNet_2023/SciSciNet_Affiliations.tsv", sep = '\t')

In [169]:
affiliation.head()

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
0,20455151,Air Liquide,grid.476009.c,https://web.archive.org/web/20100205175402/htt...,GB,52.503593,-1.805160,65,1503,15.708827,1.793917
1,24386293,Hellenic National Meteorological Service,NaN,http://www.hnms.gr/hnms/english/index_html,GR,37.976140,23.736400,19,87,69.310345,2.798667
2,32956416,Catholic University of the West,grid.448708.7,http://www.uco.fr/,FR,47.464720,-0.548610,37,344,22.126050,2.270640
3,35926432,Mackay Medical College,grid.452449.a,http://www.mmc.edu.tw/,TW,25.254360,121.495087,67,2286,21.061611,2.354786
4,37448385,Chinese People's Public Security University,NaN,http://www.ppsuc.edu.cn/,CN,39.904690,116.407173,27,1875,0.792123,0.161562

In [147]:
detail = pd.read_csv("/kellogg/proj/jhc0261/sdg/SciSciNet_2023/SciSciNet_PaperDetails.tsv", sep = '\t', nrows=100)

In [164]:
detail

,PaperID,DOI,DocType,PaperTitle,BookTitle,Year,Date,Publisher,JournalID,ConferenceSeriesID,Volume,Issue,FirstPage,LastPage,ReferenceCount,CitationCount,OriginalVenue,FamilyID,RetractionType
0,2789336,NaN,Journal,Inheritance and Polymorphism in Datalog: an ex...,EJC,2008.0,2008-01-01,NaN,2.048520e+08,NaN,NaN,NaN,354.0,358.0,0,0,European Journal of Combinatorics,2789336.0,NaN
1,2257060365,10.3233/978-1-58603-957-8-354,NaN,Inheritance and Polymorphism in Datalog: an ex...,NaN,2009.0,2009-07-10,IOS Press,NaN,NaN,NaN,NaN,354.0,358.0,13,2,Proceedings of the 2009 conference on Informat...,2789336.0,NaN
2,9552966,NaN,Journal,The effect of milk on plasmatic and tissue lev...,NaN,2005.0,2005-05-01,NaN,2.737569e+09,NaN,26.0,2.0,113.0,118.0,37,1,Revista de CiÃªncias FarmacÃªuticas BÃ¡sica e Apl...,9552966.0,NaN
3,2769674369,NaN,Journal,The effect of milk on plasmatic and tissue lev...,NaN,2005.0,2005-01-01,UNESP/FCFAR,1.766438e+08,NaN,NaN,NaN,NaN,NaN,0,0,Scopus,9552966.0,NaN
4,9694411,NaN,Conference,Can Functional Programming Be Liberated from t...,IFIP Congress (1),1994.0,1994-01-01,NaN,NaN,2.755927e+09,NaN,NaN,330.0,335.0,0,0,ifip congress,9694411.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,120728965,NaN,Repository,Private power financing : from project finance...,NaN,1995.0,1995-10-31,"World Bank, Washington, DC",3.121261e+09,NaN,NaN,NaN,1.0,4.0,0,3,Research Papers in Economics,120728965.0,NaN
96,3121438755,NaN,Repository,Private Power Financing : From Project Finance...,NaN,1995.0,1995-01-01,The World Bank,NaN,NaN,NaN,NaN,NaN,NaN,0,0,World Bank Other Operational Studies,120728965.0,NaN
97,120927404,NaN,Journal,Unincorporated associations as entities: A mat...,NaN,2010.0,2010-01-01,Lawbook Co.,2.764940e+09,NaN,NaN,NaN,NaN,NaN,0,0,Company and securities law journal,120927404.0,NaN
98,121216215,NaN,Repository,Por quÃ© la ConstituciÃ³n importa,NaN,2012.0,2012-01-01,"Universidad Externado de Colombia, Facultad de...",3.121261e+09,NaN,1.0,NaN,NaN,NaN,0,1,Research Papers in Economics,121216215.0,NaN
99,3145299491,NaN,Repository,Por quÃ© la ConstituciÃ³n importa,NaN,2012.0,2012-01-01,"Universidad Externado de Colombia, Facultad de...",NaN,NaN,1.0,NaN,NaN,NaN,0,1,Books,121216215.0,NaN

In [148]:
paper = pd.read_csv("/kellogg/proj/jhc0261/sdg/SciSciNet_2023/SciSciNet_Papers.tsv", sep = '\t', nrows=100)

In [156]:
tmp[tmp.MAGID == 3217810985]

,MAGID,DOI,DocType,Year,Date,JID,ConfSID,ConfInsID,C_all,C10,R,C3,C5,NIH_count,Patent_count,Newsfeed_count,Twitter_count,NCT_count
75017752,3217810985,10.7330/9781646421428.C011,BookChapter,2021.0,2021-12-01,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [155]:
author[author.AffiliationID.isna()]

              PaperID    AuthorID  AffiliationID  AuthorSequenceNumber
0                  15   199142497            NaN                     1
1                  15   680395887            NaN                     2
3                  23  2582258949            NaN                     3
4                  23  2582736345            NaN                     2
5                  79  2662843304            NaN                     1
...               ...         ...            ...                   ...
413869490  3217810985  2991855800            NaN                     1
413869491  3217810985  3215611839            NaN                     2
413869492  3217810987  2809855049            NaN                     1
413869493  3217810996  3216394890            NaN                     1
413869495  3217811000  3217411685            NaN                     1

[206859896 rows x 4 columns]

In [139]:
%%time
gender = pd.read_csv("/kellogg/proj/jhc0261/sdg/SciSciNet_2023/SciSciNet_Authors_Gender.tsv", sep='\t')

CPU times: user 2min 17s, sys: 23.7 s, total: 2min 41s
Wall time: 2min 41s

In [171]:
gender.head()

,AuthorID,Author_Name,H-index,Productivity,Average_C10,Average_LogC10,Inference_Sources,Inference_Counts,P(gf)
0,584,GÃ¶zde Ãzdikmenli-Demir,3,5,NaN,NaN,16.0,1003.0,0.981
1,859,Gy. TolmÃ¡r,1,3,0.666667,0.366204,NaN,NaN,NaN
2,978,Ximena FaÃºndez,4,10,8.666667,2.129520,20.0,30709.0,0.987
3,1139,Jennifer Putzi,1,4,1.750000,0.659764,33.0,1782283.0,0.992
4,1476,å²ç¢ æå³¶,0,1,0.000000,0.000000,10.0,333.0,0.252

In [172]:
author.head()

   PaperID    AuthorID  AffiliationID  AuthorSequenceNumber
0       15   199142497            NaN                     1
1       15   680395887            NaN                     2
2       23  1243978490     79576946.0                     1
3       23  2582258949            NaN                     3
4       23  2582736345            NaN                     2

In [140]:
affil = pd.read_csv("/kellogg/proj/jhc0261/sdg/SciSciNet_2023/SciSciNet_Affiliations.tsv", sep='\t')

In [120]:
affil.head()

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
0,20455151,Air Liquide,grid.476009.c,https://web.archive.org/web/20100205175402/htt...,GB,52.503593,-1.805160,65,1503,15.708827,1.793917
1,24386293,Hellenic National Meteorological Service,NaN,http://www.hnms.gr/hnms/english/index_html,GR,37.976140,23.736400,19,87,69.310345,2.798667
2,32956416,Catholic University of the West,grid.448708.7,http://www.uco.fr/,FR,47.464720,-0.548610,37,344,22.126050,2.270640
3,35926432,Mackay Medical College,grid.452449.a,http://www.mmc.edu.tw/,TW,25.254360,121.495087,67,2286,21.061611,2.354786
4,37448385,Chinese People's Public Security University,NaN,http://www.ppsuc.edu.cn/,CN,39.904690,116.407173,27,1875,0.792123,0.161562

Yian's suggestion: Instead of comparing private|public, compare the top 30, 50, 100 universities

In [141]:
fields = pd.read_csv("/kellogg/proj/jhc0261/sdg/SciSciNet_2023/SciSciNet_Fields.tsv", sep='\t')

In [85]:
fields.head()

NameError: name 'fields' is not defined

In [101]:
len(tmp)

134129188

In [100]:
%%time
sum(tmp.DOI.duplicated())

CPU times: user 52.2 s, sys: 3.03 s, total: 55.2 s
Wall time: 54.8 s

35333330

In [102]:
sum(tmp.DOI.duplicated()) / len(tmp)

0.2634275993678572

In [110]:
sum(df_matched2.DOI.duplicated())

21398

In [111]:
sum(df_matched2.DOI.duplicated()) / len(df_matched2)

0.004251888740323813

In [46]:
titleauthor = pd.read_csv("/kellogg/proj/jhc0261/sdg/SciNet_Paper_Title_Journal_Author.csv", sep='\t', nrows=40)

In [51]:
titleauthor.head(n=30)

,0,2,3,4,6,7,8,10,JID,CSID,CIID,14,15,16,17,21,22,24,JNAME,CSNAME,CINAME,1
0,2789336,NaN,Journal,inheritance and polymorphism in datalog an exp...,EJC,2008.0,2008-01-01,NaN,2.048520e+08,NaN,NaN,NaN,NaN,354.0,358.0,European Journal of Combinatorics,2789336.0,NaN,european journal of combinatorics,NaN,NaN,"Paolo Atzeni, Giorgio Gianforme"
1,9552966,NaN,Journal,the effect of milk on plasmatic and tissue lev...,NaN,2005.0,2005-05-01,NaN,2.737569e+09,NaN,NaN,26.0,2.0,113.0,118.0,Revista de CiÃªncias FarmacÃªuticas BÃ¡sica e Apl...,9552966.0,NaN,revista de ciencias farmaceuticas basica e apl...,NaN,NaN,"F. S. Del Fiol, M. I. Toledo, F. C. Groppo"
2,9694411,NaN,Conference,can functional programming be liberated from t...,IFIP Congress (1),1994.0,1994-01-01,NaN,NaN,2.755927e+09,NaN,NaN,NaN,330.0,335.0,ifip congress,9694411.0,NaN,NaN,ifip congress,NaN,Wolfram Kahl
3,14355006,NaN,Repository,realizing the asian century a strategic framework,NaN,2011.0,2011-01-01,Emerging Markets Forum,3.121261e+09,NaN,NaN,NaN,NaN,63.0,70.0,Research Papers in Economics,14355006.0,NaN,research papers in economics,NaN,NaN,"Harinder Kohli, Ashok Sharma, Anil Sood"
4,14558443,10.1007/978-3-662-45174-8_28,Conference,the adaptive priority queue with elimination a...,DISC,2014.0,2014-10-12,"Springer, Berlin, Heidelberg",NaN,1.131603e+09,4038532.0,NaN,NaN,406.0,420.0,international symposium on distributed computing,14558443.0,NaN,NaN,international symposium on distributed computing,disc 2014,"Irina Calciu, Hammurabi Mendes, Maurice Herlihy"
5,15354235,10.1007/978-3-662-44777-2_60,Conference,document retrieval on repetitive collections,ESA,2014.0,2014-09-08,"Springer, Berlin, Heidelberg",NaN,1.154039e+09,157008481.0,NaN,NaN,725.0,736.0,european symposium on algorithms,15354235.0,NaN,NaN,european symposium on algorithms,esa 2014,"Gonzalo Navarro, Simon J. Puglisi, Jouni SirÃ©n"
6,16763247,10.22004/AG.ECON.174942,Repository,substitutes versus complements among canadian ...,NaN,2014.0,2014-01-01,Agricultural and Applied Economics Association,3.121261e+09,NaN,NaN,NaN,NaN,NaN,NaN,Research Papers in Economics,16763247.0,NaN,research papers in economics,NaN,NaN,"Florentina Uzea, Kenneth Poon, David Sparling,..."
7,19586282,NaN,Journal,precision predictions and tools for weak boson...,NaN,2007.0,2007-07-01,NaN,1.319676e+08,NaN,NaN,38.0,7.0,2347.0,2355.0,Acta Physica Polonica B,19586282.0,NaN,acta physica polonica b,NaN,NaN,"G. Balossini, F. Piccinini, C.M. Carloni Calam..."
8,21605082,NaN,Conference,interface electronic chamber ensemble,NIME,2001.0,2001-04-01,National University of Singapore,NaN,1.190394e+09,NaN,NaN,NaN,1.0,5.0,new interfaces for musical expression,21605082.0,NaN,NaN,new interfaces for musical expression,NaN,"Curtis Bahn, Dan Trueman"
9,23032558,NaN,Journal,a 20 year experience with malpractice screenin...,NaN,1997.0,1997-10-01,Del Med J,2.755314e+09,NaN,NaN,69.0,10.0,511.0,NaN,Delaware medical journal,23032558.0,NaN,delaware medical journal,NaN,NaN,"Kridelbaugh Ww, Palmisano Dj"
10,24327294,10.1007/978-3-319-03973-2_13,Conference,socomo marketing for travel and tourism,ENTER,2013.0,2013-01-01,"Springer, Cham",NaN,1.196984e+09,NaN,NaN,NaN,175.0,185.0,information and communication technologies in ...,24327294.0,NaN,NaN,information and communication technologies in ...,NaN,"Dimitrios Buhalis, Marie-Kristin Foerste"
11,25485075,NaN,Repository,corporate default analysis in tunisia using cr...,NaN,2010.0,2010-01-01,HAL,3.121261e+09,NaN,NaN,NaN,NaN,NaN,NaN,Research Papers in Economics,25485075.0,NaN,research papers in economics,NaN,NaN,"L. Ureche-Rangau, N. Ouertani"
12,28763994,NaN,Repository,appendices currency held by the public the ban...,NaN,1947.0,1947-01-01,NBER,3.121261e+09,NaN,NaN,NaN,NaN,29.0,60.0,Research Papers in Economics,28763994.0,NaN,research papers in economics,NaN,NaN,"Anna Jacobson Schwartz, Elma Oliver"
13,30144455,NaN,Repository,appendix b number of commercial paper borrowers,NaN,1963.0,1963-01-01,NBER,3.121261e+09,NaN,NaN,NaN,NaN,99.0,100.0,Research Papers in Economics,30144455.0,NaN,research papers in economics,NaN,NaN,Richard T Selden
14,33698157,NaN,Journal,hard tissue lesions associated with malnutrition,NaN,1961.0,1961-12-31,Iowa State University,1.052089e+08,NaN,NaN,24.0,2.0,4.0,NaN,Journal of Chemical Education,33698157.0,NaN,journal of chemical education,NaN,NaN,William S. Monlux
15,35428871,10.1023/A:1022270923160,Journal,lambda waves incidence and relationship to pho...,NaN,1998.0,1998-01-01,Kluwer Academic Publishers-Plenum Publishers,2.016092e+08,NaN,NaN,10.0,4.0,265.0,272.0,Brain Topography,35428871.0,NaN,brain topography,NaN,NaN,"Jerry J. Shih, Stephen W. Thompson"
16,35904037,NaN,Repository,familia economia e organizacao do espaco domes...,NaN,2004.0,2004-01-01,"Cedeplar, Universidade Federal de Minas Gerais",3.121261e+09,NaN,NaN,NaN,NaN,NaN,NaN,Research Papers in Economics,35904037.0,NaN,research papers in economics,NaN,NaN,ClÃ¡udia Eliane P. Marques Martinez
17,38250563,NaN,Repository,introduction the road ahead for the fed,NaN,2009.0,2009-01-01,"Hoover Institution, Stanford University",3.121261e+09,NaN,NaN,NaN,NaN,NaN,NaN,Research Papers in Economics,38250563.0,NaN,research papers in economics,NaN,NaN,"John D. Ciorciari, John Taylor"
18,38480571,NaN,Repository,as exportacoes da industria brasileira pos des...,NaN,2008.0,2008-01-01,ANPEC - AssociaÃÂ§ÃÂ£o Nacional dos Centros de P...,3.121261e+09,NaN,NaN,NaN,NaN,NaN,NaN,Research Papers in Economics,38480571.0,NaN,research papers in economics,NaN,NaN,Flavio Benevett Fligenspan
19,38912595,NaN,Repository,family income and the income tax base,NaN,1946.0,1946-01-01,NBER,3.121261e+09,NaN,NaN,NaN,NaN,235.0,262.0,Research Papers in Economics,38912595.0,NaN,research papers in economics,NaN,NaN,"Albert Gailord Hart, Julius Lieblien"
20,39862623,NaN,Conference,model driven hmi development can meta case too...,ICSOFT (2),2006.0,2006-01-01,NaN,NaN,1.188030e+09,NaN,NaN,NaN,312.0,319.0,international conference on software and data ...,39862623.0,NaN,NaN,international conference on software and data ...,NaN,"Carsten Bock, Detlef Zuehlke"
21,40887928,NaN,Repository,the autonomy of managers by business functions...,NaN,2006.0,2006-01-01,Faculty of Economics and Business Administrati...,3.121261e+09,NaN,NaN,28.0,NaN,172.0,193.0,Research Papers in Economics,40887928.0,NaN,research papers in economics,NaN,NaN,"Urmas Varblane, Katrin MÃ¤nnik, Helena Hannula"
22,42711639,NaN,Repository,tecnologias aplicadas a la toma de decisiones ...,NaN,2012.0,2012-01-01,s.n,3.121261e+09,NaN,NaN,NaN,NaN,NaN,NaN,Research Papers in Economics,42711639.0,NaN,research papers in economics,NaN,NaN,"Paulino E. Mallo, MarÃ­a Antonia Artola, Alicia..."
23,43762484,NaN,Repository,average income shares of upper income groups,NaN,1950.0,1950-01-01,"National Bureau of Economic Research, Inc",3.121261e+09,NaN,NaN,NaN,NaN,5.0,32.0,Research Papers in Economics,43762484.0,NaN,research papers in economics,NaN,NaN,Simon Kuznets
24,47369392,10.22323/1.072.0082,NaN,kinematics of relativistic agn jets,NaN,2009.0,2009-07-13,Sissa Medialab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Proceedings of The 9th European VLBI Network S...,47369392.0,NaN,NaN,NaN,NaN,Matt L. Lister
25,47457668,NaN,Journal,a self released lock bolt for fractures of the...,NaN,1937.0,1937-04-01,Canadian Medical Association,4.362743e+06,NaN,NaN,36.0,4.0,409.0,409.0,Canadian Medical Association Journal,47457668.0,NaN,canadian medical association journal,NaN,NaN,"E. W. Cleary, Gordon M. Morrison"
26,48805805,NaN,Repository,microeconomics of banking 2nd edition,NaN,2008.0,2008-01-01,The MIT Press,3.121261e+09,NaN,NaN,1.0,NaN,NaN,NaN,Research Papers in Economics,48805805.0,NaN,research papers in economics,NaN,NaN,"Xavier Freixas, Jean Rochet"
27,55481443,10.4337/9780857935335.00022,Repository,should we stop the imf from doing what it shou...,NaN,2012.0,2012-01-31,Edward Elgar Publishing,3.121261e+09,NaN,NaN,NaN,NaN,188.0,NaN,Research Papers in Economics,55481443.0,NaN,research papers in economics,NaN,NaN,Ross P. Buckley
28,55534668,10.1080/00401706.2016.1251495,Journal,bayesian design of experiments using approxima...,NaN,2017.0,2017-04-27,Taylor & Francis,9.853030e+05,NaN,NaN,59.0,4.0,458.0,470.0,Technometrics,55534668.0,NaN,technometrics,NaN,NaN,"Antony M. Overstall, David C. Woods"
29,60437532,10.1007/3-540-46146-9_77,Conference,similarity image retrieval system using hierar...,NaN,2002.0,2002-09-02,"Springer, Berlin, Heidelberg",NaN,1.192665e+09,NaN,NaN,NaN,779.0,788.0,database and expert systems applications,60437532.0,NaN,NaN,database and expert systems applications,NaN,"Masahiro Tada, Toshikazu Kato, Isao Shinohara"

# 1 SciNet Primary Table 
- based on Microsoft Academic Graph (MAG)
- About MAG: https://www.microsoft.com/en-us/research/project/microsoft-academic-graph/
- Data Schema: https://docs.microsoft.com/en-us/academic-services/graph/reference-data-schema
- Also check our data descriptor.

# 2 Link MAG Paper to Clinical Trials
- Clinical Trial data schema is here https://aact.ctti-clinicaltrials.org/schema.
- Clinical Trial data dictionary is here https://aact.ctti-clinicaltrials.org/data_dictionary

In [2]:
%%time
import pandas as pd
Link_MAG_PMID_NCTID_ACCT = pd.read_csv("Link_MAG_PMID_NCTID_ACCT.csv", sep="\t")
Link_MAG_PMID_NCTID_ACCT
# MAGID: MAG Paper ID.
# PMID: PubMedID.
# NCT_ID: The National Clinical Trial number.

CPU times: user 204 ms, sys: 9.47 ms, total: 213 ms
Wall time: 302 ms

             MAGID      PMID       NCT_ID
0             5825  23592934  NCT00486187
1            12687  10710805  NCT01402011
2            12687  10710805  NCT00685880
3            12687  10710805  NCT00085722
4            12687  10710805  NCT03515720
...            ...       ...          ...
438215  2110179408  10998730  NCT02487966
438216  3156434758  33871579  NCT05035277
438217  2054020285   6387488  NCT00089414
438218  2406368488   7091625  NCT04750486
438219  2049932300  10332025  NCT01358110

[438220 rows x 3 columns]

# 3 Link MAG Paper to Patents
- Data schema of paper-patent linkage: https://zenodo.org/record/5803985.
- USPTO PatentsView data table: https://patentsview.org/download/data-download-tables
- USPTO PatentsView data dictionary: https://patentsview.org/download/data-download-dictionary

In [3]:
%%time
import pandas as pd
Link_MAG_Patent = pd.read_csv("Link_MAG_Patent.csv", sep="\t")
Link_MAG_Patent
# patent: check the details of https://zenodo.org/record/5803985 for the patent format.

CPU times: user 21.8 s, sys: 2.57 s, total: 24.3 s
Wall time: 25.2 s

               MAGID         patent
0          183958795  EP-2667337-A3
1          855255571     US-9984683
2          855255571    US-10595727
3          855255571    US-10417788
4          855255571    US-10402700
...              ...            ...
38740308   143872045     US-6372744
38740309   143872045     US-6117896
38740310  2923798484     US-8038457
38740311  2923798484     US-7909635
38740312  2923798484     US-7854620

[38740313 rows x 2 columns]

# 4 Link MAG Paper to Newsfeed
- detailed info: https://www.eventdata.crossref.org/guide/sources/newsfeed/

In [4]:
%%time
import pandas as pd
Link_MAG_Newsfeed = pd.read_csv("Link_MAG_Newsfeed.csv", sep="\t")
Link_MAG_Newsfeed
# obj_id: DOI https link.
# subj_id: News web link.

CPU times: user 1.24 s, sys: 138 ms, total: 1.38 s
Wall time: 1.44 s

,MAGID,obj_id,subj_id
0,2604293429,https://doi.org/10.1038/nature21680,https://www.sciencenews.org/article/massive-re...
1,2604934333,https://doi.org/10.1073/pnas.1619013114,https://www.zmescience.com/science/news-scienc...
2,2604934333,https://doi.org/10.1073/pnas.1619013114,https://www.theguardian.com/science/2017/apr/0...
3,2081225124,https://doi.org/10.1038/nature13422,https://www.zmescience.com/science/news-scienc...
4,2081225124,https://doi.org/10.1038/nature13422,http://theconversation.com/buried-tools-and-pi...
...,...,...,...
899318,3212058632,https://doi.org/10.1016/j.cub.2021.10.063,https://www.quantamagazine.org/flying-fish-and...
899319,3128761396,https://doi.org/10.1016/j.cell.2021.01.047,https://www.quantamagazine.org/flying-fish-and...
899320,3212511064,https://doi.org/10.1073/pnas.2100575118,https://www.quantamagazine.org/flying-fish-and...
899321,3128699789,https://doi.org/10.1016/j.cell.2021.01.003,https://www.quantamagazine.org/flying-fish-and...
899322,2733567627,https://doi.org/10.1029/2017EO076589,https://www.sciencealert.com/a-scientist-expla...

# 5 Link MAG Paper to Twitter
- detailed info: https://www.eventdata.crossref.org/guide/sources/twitter/

In [5]:
%%time
import pandas as pd
Link_MAG_Twitter = pd.read_csv("Link_MAG_Twitter.csv", sep="\t")
Link_MAG_Twitter
# obj_id: DOI https link.
# subj_id: Twitter web link or Twitter ID.

CPU times: user 1min 13s, sys: 9.43 s, total: 1min 23s
Wall time: 1min 23s

,MAGID,obj_id,subj_id
0,2409185502,https://doi.org/10.1098/rspb.2016.0792,http://twitter.com/PaulKiem/statuses/832519346...
1,2409185502,https://doi.org/10.1098/rspb.2016.0792,http://twitter.com/ImmaBioloG/statuses/8331188...
2,2409185502,https://doi.org/10.1098/rspb.2016.0792,http://twitter.com/BitKblog/statuses/834133155...
3,2409185502,https://doi.org/10.1098/rspb.2016.0792,http://twitter.com/chiara_ceci/statuses/834359...
4,2409185502,https://doi.org/10.1098/rspb.2016.0792,http://twitter.com/KLA2010/statuses/8343620020...
...,...,...,...
56121130,2083997846,https://doi.org/10.1177/1098612x15572970,twitter://status?id=1482878777617227776
56121131,2807381522,https://doi.org/10.1088/0256-307X/35/6/067301,twitter://status?id=1482888062334283778
56121132,2108824353,https://doi.org/10.1371/journal.pone.0090001,twitter://status?id=1482949199104995329
56121133,3037760641,https://doi.org/10.1080/00295450.2020.1747837,twitter://status?id=1482897388716978177
56121134,1990647126,https://doi.org/10.1080/01621459.1975.10480264,twitter://status?id=1482914613435977734

# 6 Link MAG Paper to NIH grants
- NIH dictionary: https://exporter.nih.gov/about.aspx

In [6]:
%%time
import pandas as pd
Link_MAG_PMID_NIHproj = pd.read_csv("Link_MAG_PMID_NIHproj.csv", sep="\t")
Link_MAG_PMID_NIHproj
# PMID: PubMedID.
# PROJECT_NUMBER: NIH Core_Project_Num (which may appear in the acknowledgement part of a paper).

CPU times: user 2.69 s, sys: 256 ms, total: 2.95 s
Wall time: 2.98 s

              MAGID      PMID PROJECT_NUMBER
0              3066   9923457    R29HL057675
1              3066   9923457    R01HL057675
2              3066   9923457    R01HL054973
3             15845  17127250    P01HD030367
4             15845  17127250    M01RR000056
...             ...       ...            ...
6019894   246319838  12432827    R01NS038713
6019895  2082844918  12958435    R01MH061138
6019896  2082844918  12958435    R01NS038894
6019897  2069345940  11758118    P01AR038923
6019898  2069345940  11758118    K08AR002141

[6019899 rows x 3 columns]

# 7 SciNet Additional Infomation

- Paper-Lv0Field linakge
- Check https://docs.microsoft.com/en-us/academic-services/graph/reference-data-schema#paper-fields-of-study

In [7]:
%%time
import pandas as pd
SciNet_Paper_LV0Field = pd.read_csv("SciNet_Paper_LV0Field.csv", sep="\t")
SciNet_Paper_LV0Field
# 0: MAGID
# 1: FieldID
# 2: Confidence Score.
# Please also refer to https://docs.microsoft.com/en-us/academic-services/graph/reference-data-schema#paper-fields-of-study

CPU times: user 28.8 s, sys: 5.56 s, total: 34.3 s
Wall time: 34.4 s

                    0          1         2
0            18936224   71924100  0.304275
1            94748468  144024400  0.450289
2           113998959   71924100  0.284752
3            56740461  144133560  0.432024
4                  23   71924100  0.443839
...               ...        ...       ...
116942136  3204507145   41008148  0.461706
116942137  3204507150  185592680  0.387695
116942138  3204507160   71924100  0.432389
116942139  3204507164   71924100  0.369905
116942140  3204507171  144133560  0.443296

[116942141 rows x 3 columns]

#  8 MAG Additional Infomation

In [8]:
# Original MAG Files

## 8.1 MAG Fields Metadata
### Please also check https://docs.microsoft.com/en-us/academic-services/graph/reference-data-schema#fields-of-study.
### There is a left shift from column 1 to 10 in the origin data schema to MAG actual data table 0-9 as follows.

In [9]:
%%time
import csv
import pandas as pd

df_MAG_F = pd.read_csv('MAG_2021-12-06/FieldsOfStudy.txt', sep='\t', header=None, 
                     quoting=csv.QUOTE_NONE)

df_MAG_F

# Column 5 here is the level of fields ranging from 0 to 5.
# Lv0 field can be considered as the main field.
# Lv1 field can be considered as the sub-field.

CPU times: user 1.41 s, sys: 122 ms, total: 1.53 s
Wall time: 1.58 s

,0,1,2,3,4,5,6,7,8,9
0,417682,16941,night air,Night air,NaN,2,104,103,428,2016-06-24
1,1443462,16012,immobiliser,Immobiliser,NaN,2,220,215,1028,2016-06-24
2,1576492,12988,matrix pencil,Matrix pencil,NaN,3,1855,1803,30181,2016-06-24
3,2657588,13563,combinatorial topology,Combinatorial topology,NaN,3,571,534,22755,2016-06-24
4,3079626,8615,quantum electrodynamics,Quantum electrodynamics,NaN,1,237527,229050,3186718,2016-06-24
...,...,...,...,...,...,...,...,...,...,...
714966,3020516982,15210,cholesterol diet,Cholesterol diet,NaN,3,559,557,4074,2020-05-01
714967,3020525681,16911,community connectedness,Community connectedness,NaN,3,116,116,718,2020-05-01
714968,3020532668,14800,pre cooling,Pre cooling,NaN,2,1082,1070,2749,2020-05-01
714969,3020562556,14742,image guided radiotherapy,Image guided radiotherapy,NaN,4,929,924,6650,2020-05-01
714970,3020702029,15527,short implants,Short implants,NaN,3,384,382,3672,2020-05-01

In [117]:
http://web.archive.org/web/20230327083314/https://academic.microsoft.com/#/topics/0/

,0,1,2,3,4,5,6,7,8,9
17405,95457728,6857,history,History,NaN,0,3143025,3137420,7840866,2016-06-24
23106,127313418,5739,geology,Geology,NaN,0,7516301,7423997,41596948,2016-06-24
66244,162324750,6154,economics,Economics,NaN,0,3225914,2983588,37661082,2016-06-24
140540,205649164,6309,geography,Geography,NaN,0,4661106,4638221,22960849,2016-06-24
203361,185592680,4361,chemistry,Chemistry,NaN,0,18891552,18068928,259797539,2016-06-24
223318,138885662,7302,philosophy,Philosophy,NaN,0,2061046,2056029,5004823,2016-06-24
234746,144024400,6131,sociology,Sociology,NaN,0,4649768,4627492,31643741,2016-06-24
234806,192562407,4156,materials science,Materials science,NaN,0,31723338,30270466,187946976,2016-06-24
263208,33923547,5140,mathematics,Mathematics,NaN,0,7209301,6892438,87228870,2016-06-24
286322,86803240,4437,biology,Biology,NaN,0,14185132,14086624,353707121,2016-06-24
394647,41008148,4251,computer science,Computer science,NaN,0,28041663,26823800,165506648,2016-06-24
429091,17744445,6005,political science,Political science,NaN,0,7044904,6975783,23127674,2016-06-24
440715,127413603,4888,engineering,Engineering,business.industry,0,12741382,12460293,85771475,2016-06-24
483247,15744967,5210,psychology,Psychology,NaN,0,8534386,8483915,121799773,2016-06-24
503185,39432304,5851,environmental science,Environmental science,NaN,0,6497294,6423665,39668147,2016-06-24
528827,144133560,6097,business,Business,NaN,0,5698278,5557415,28479336,2016-06-24
617770,121332964,5145,physics,Physics,NaN,0,9436797,8931911,94882473,2016-06-24
629204,71924100,4136,medicine,Medicine,business.industry,0,30029680,29845676,325547731,2016-06-24
634823,142362112,6780,art,Art,media_common.quotation_subject,0,3922496,3917328,5147459,2016-06-24

In [125]:
# Have a look at Lv0 fielddf_MAG_Lv0_Field[0] == 'business'
df_MAG_Lv0_Field = df_MAG_F.loc[df_MAG_F[6] == 5698278, :]
df_MAG_Lv0_Field

,0,1,2,3,4,5,6,7,8,9
528827,144133560,6097,business,Business,NaN,0,5698278,5557415,28479336,2016-06-24

## 8.2 MAG Journals Metadata
### https://docs.microsoft.com/en-us/academic-services/graph/reference-data-schema#journals

In [11]:
%%time
import csv
import pandas as pd

df_MAG_J = pd.read_csv('MAG_2021-12-06/Journals.txt', sep='\t', header=None, 
                     quoting=csv.QUOTE_NONE)

df_MAG_J

CPU times: user 131 ms, sys: 25.2 ms, total: 156 ms
Wall time: 207 ms

,0,1,2,3,4,5,6,7,8,9,10
0,465895,12063,eureka,Eureka,1342-5641,NaN,http://www.archim.org.uk/eureka/,1150,1150,3149,2016-06-24
1,1137746,12416,the artist and journal of home culture,The Artist and Journal of Home Culture,2329-8189,NaN,NaN,880,880,775,2016-06-24
2,2978343,15328,cumberland law review,Cumberland Law Review,0360-8298,NaN,http://www.cumberlandlawreview.com/,50,50,58,2016-06-24
3,3010151,14590,comparative medicine east and west,Comparative Medicine East and West,0147-2917,NaN,NaN,32,32,310,2016-06-24
4,3164724,9991,physiological measurement,Physiological Measurement,0967-3334,NaN,NaN,3607,3607,88840,2016-06-24
...,...,...,...,...,...,...,...,...,...,...,...
49061,2765076455,12073,journal of changsha university of science & te...,Journal of Changsha University of Science & Te...,NaN,NaN,NaN,1635,1635,161,2017-10-27
49062,2898398052,14394,reviews in physics,Reviews in Physics,2405-4283,NaN,https://www.journals.elsevier.com/reviews-in-p...,49,49,1355,2018-11-02
49063,2898614270,12482,revista de psiquiatria y salud mental,Revista de PsiquiatrÃ­a y Salud Mental,1888-9891,NaN,https://www.journals.elsevier.com/revista-de-p...,851,851,4895,2018-11-02
49064,2933375274,13446,indonesian journal of cardiology,Indonesian Journal of Cardiology,0126-3773,Indonesian Heart Association,http://ijconline.id/index.php/ijc,412,412,55,2019-04-11
49065,3012825557,13101,international journal of occupational and envi...,International Journal of Occupational and Envi...,2008-6520,NIOC Health Organization,https://www.theijoem.com/ijoem/index.php/ijoem...,349,349,3263,2020-03-27

# 9 Basic Operation Example

- If we are currently interested in the distribution of physics papers published from 1990 to 2000 according to the number of citations they receive, then

In [12]:
%%time
SciNet_Papers_Sel = SciNet_Papers.loc[(SciNet_Papers['Year'] >= 1990) & (SciNet_Papers['Year'] <= 2000), :]
SciNet_Papers_Sel
# Select papers published from 1990 to 2000.

CPU times: user 5.79 s, sys: 7.21 s, total: 13 s
Wall time: 13 s

,MAGID,DOI,DocType,Year,Date,JID,ConfSID,ConfInsID,C_all,C10,R,C3,C5,NIH_count,Patent_count,Newsfeed_count,Twitter_count,NCT_count
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
9,23032558,NaN,Journal,1997.0,1997-10-01,2.755314e+09,NaN,NaN,4.0,3.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
15,35428871,10.1023/A:1022270923160,Journal,1998.0,1998-01-01,2.016092e+08,NaN,NaN,6.0,2.0,16.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
32,72557836,NaN,Repository,1996.0,1996-01-01,3.121261e+09,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
41,101311581,10.5070/M3271014515,Journal,1998.0,1998-01-01,1.433928e+08,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129082,3146715096,NaN,Journal,1993.0,1993-01-01,1.162512e+08,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
134129083,3148693152,NaN,Journal,1995.0,1995-03-15,1.324228e+07,NaN,NaN,2.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
134129151,3125884817,NaN,Repository,1993.0,1993-01-01,3.121261e+09,NaN,NaN,38.0,20.0,0.0,7.0,13.0,NaN,NaN,NaN,NaN,NaN
134129166,3207562977,NaN,BookChapter,1990.0,1990-01-01,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
134129174,3211627098,NaN,Journal,2000.0,2000-01-01,1.004905e+09,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [138]:
len(df_MAG_F[df_MAG_F[5] == 0])

19

In [ ]:
len(df_MAG_F[df_MAG_F[5] == 1]

In [145]:
df_matched

,index,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,C5,Team_Size,Institution_Count,Disruption,Atyp_10pct_Z,Atyp_Pairs,Atyp_Median_Z,SB_B,SB_T,Patent_Count,Newsfeed_Count,Tweet_Count,NCT_Count,NIH_Count,NSF_Count,WSB_mu,WSB_sigma,WSB_Cinf,fem,country,sdg_codes,fem_ratio,sdg_1,sdg_2,sdg_3,sdg_4,sdg_5,sdg_6,sdg_7,sdg_8,sdg_9,sdg_10,sdg_11,sdg_12,sdg_13,sdg_14,sdg_15,sdg_16,sdg_17
0,0,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,9.0,3.0,1.0,-0.004613,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,2,NaN,NaN,NaN,1,"US,US,US",None,0.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,15354235,10.1007/978-3-662-44777-2_60,Conference,2014.0,2014-09-08,NaN,1.154039e+09,9.0,NaN,18.0,8.0,3.0,2.0,-0.002883,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,NaN,NaN,NaN,0,"FI,CL,CL",None,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,16763247,10.22004/ag.econ.174942,Repository,2014.0,2014-01-01,3.121261e+09,NaN,0.0,NaN,0.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,NaN,NaN,NaN,1,None,None,0.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,24327294,10.1007/978-3-319-03973-2_13,Conference,2013.0,2013-01-01,NaN,1.196984e+09,20.0,NaN,25.0,17.0,2.0,1.0,-0.001490,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,NaN,NaN,NaN,1,"GB,GB",None,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,35428871,10.1023/a:1022270923160,Journal,1998.0,1998-01-01,2.016092e+08,NaN,6.0,2.0,16.0,0.0,2.0,1.0,0.001411,-18.433685,28.0,-0.401707,4.0,8.0,0,0,0,0,0,0,NaN,NaN,NaN,0,"US,US",None,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99445098,99445098,3215499129,10.1109/icrera52334.2021.9598593,None,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,NaN,NaN,NaN,0,"TR,IQ,IQ,IQ",None,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99445099,99445099,3215845741,10.3389/fcvm.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,NaN,8.0,3.0,NaN,-9.281575,259.0,7.654166,NaN,NaN,0,0,0,0,0,0,NaN,NaN,NaN,1,"CA,BR,BR",None,0.125000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99445100,99445100,3216186450,10.1016/j.idnow.2021.11.004,None,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,NaN,NaN,NaN,0,None,None,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99445101,99445101,3216762448,10.1016/j.istruc.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,NaN,NaN,NaN,0,"JP,JP",None,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99445102,99445102,3217727977,10.1109/mlise54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,NaN,6.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,NaN,NaN,NaN,0,"CN,CN,CN,CN,CN,CN",None,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
df_MAG_F[df_MAG_F[5] == 1]

,0,1,2,3,4,5,6,7,8,9
4,3079626,8615,quantum electrodynamics,Quantum electrodynamics,NaN,1,237527,229050,3186718,2016-06-24
39,37914503,8015,mathematical physics,Mathematical physics,NaN,1,409827,371426,6041390,2016-06-24
144,159047783,7067,virology,Virology,NaN,1,1200435,1187737,21536222,2016-06-24
2938,70410870,7376,clinical psychology,Clinical psychology,NaN,1,891264,888131,16263256,2016-06-24
3056,187212893,7125,pediatrics,Pediatrics,medicine.medical_specialty,1,1273780,1268810,17484176,2016-06-24
5779,61434518,8342,general surgery,General surgery,medicine.medical_specialty,1,583528,582164,3059582,2016-06-24
5791,73484699,8564,criminology,Criminology,NaN,1,446859,442606,2599068,2016-06-24
8822,200601418,8511,reliability engineering,Reliability engineering,NaN,1,376811,373039,2382040,2016-06-24
20256,107826830,8124,environmental resource management,Environmental resource management,business.industry,1,558055,556191,5678184,2016-06-24
20265,113775141,9656,computer engineering,Computer engineering,NaN,1,79850,77295,878704,2016-06-24
25846,31903555,7109,food science,Food science,NaN,1,1689168,1661147,14332374,2016-06-24
25957,118552586,7113,psychiatry,Psychiatry,medicine.medical_specialty,1,1103481,1099371,21574873,2016-06-24
28891,115704247,6316,analytical chemistry,Analytical chemistry,NaN,1,2202075,2168178,33326950,2016-06-24
40506,121864883,7754,statistical physics,Statistical physics,NaN,1,417231,392575,8299540,2016-06-24
43329,138921699,7800,political economy,Political economy,NaN,1,848708,835235,5614862,2016-06-24
46147,112930515,8670,risk analysis,Risk analysis (engineering),NaN,1,310200,305435,2903841,2016-06-24
48932,6303427,8541,economic history,Economic history,NaN,1,571549,568892,1488739,2016-06-24
49080,159110408,7604,nursing,Nursing,NaN,1,1200451,1196585,7330658,2016-06-24
49091,166957645,8074,archaeology,Archaeology,NaN,1,905910,904487,3045505,2016-06-24
49112,187736073,8368,management,Management,NaN,1,584213,583128,2725109,2016-06-24
57609,57879066,6459,mechanics,Mechanics,NaN,1,2575834,2509515,19655953,2016-06-24
60523,74363100,8633,economic system,Economic system,NaN,1,350984,347359,2616554,2016-06-24
60578,124101348,7372,data mining,Data mining,computer.software_genre,1,765938,748733,11506441,2016-06-24
63372,54750564,9129,commerce,Commerce,NaN,1,259716,256956,1216347,2016-06-24
63375,56739046,7587,knowledge management,Knowledge management,business.industry,1,917480,908027,8925975,2016-06-24
66115,5900021,9325,petrology,Petrology,NaN,1,147210,146314,1859742,2016-06-24
66125,17409809,8070,geochemistry,Geochemistry,NaN,1,519564,517797,6878019,2016-06-24
69006,58640448,8761,cartography,Cartography,NaN,1,471213,470480,1362227,2016-06-24
69063,118487528,8485,ophthalmology,Ophthalmology,medicine.medical_specialty,1,419937,417782,3795496,2016-06-24
69095,144237770,8590,mathematical economics,Mathematical economics,NaN,1,203453,188717,2995923,2016-06-24
71868,29694066,8377,orthodontics,Orthodontics,NaN,1,483553,479656,3434825,2016-06-24
71984,149635348,7944,embedded system,Embedded system,business.industry,1,488671,478518,4563918,2016-06-24
72026,199539241,7138,law,Law,NaN,1,2184221,2143184,7327378,2016-06-24
74724,118084267,9008,positive economics,Positive economics,NaN,1,142727,137274,2373858,2016-06-24
80461,75630572,8431,applied psychology,Applied psychology,NaN,1,386030,383990,4064738,2016-06-24
80520,133731056,7683,control engineering,Control engineering,NaN,1,643745,635756,5619546,2016-06-24
86180,148383697,9629,regional science,Regional science,NaN,1,173450,170831,752838,2016-06-24
94675,13280743,9078,geodesy,Geodesy,NaN,1,187300,185116,1617378,2016-06-24
97578,24326235,6423,electronic engineering,Electronic engineering,NaN,1,1945090,1878768,18669570,2016-06-24
100498,3116431,7746,public administration,Public administration,NaN,1,1148125,1140841,4506458,2016-06-24
100600,112698675,7951,advertising,Advertising,NaN,1,821938,812524,4948051,2016-06-24
103377,126894567,8467,urology,Urology,medicine.medical_specialty,1,353354,351628,4336284,2016-06-24
106256,87355193,9348,astrobiology,Astrobiology,NaN,1,194236,190617,1231183,2016-06-24
111875,37037264,7747,hydrology,Hydrology,NaN,1,752988,750144,8134720,2016-06-24
111973,145420912,7317,mathematics education,Mathematics education,NaN,1,1644422,1637053,8196414,2016-06-24
123434,167562979,11267,classical economics,Classical economics,NaN,1,26413,26009,162709,2016-06-24
126102,1965285,9772,earth science,Earth science,NaN,1,92532,92143,1189304,2016-06-24
131938,107457646,7952,human computer interaction,Humanâcomputer interaction,NaN,1,560539,546345,5264707,2016-06-24
134838,556039675,8191,traditional medicine,Traditional medicine,NaN,1,749884,743579,3364948,2016-06-24
137602,165205528,8550,seismology,Seismology,NaN,1,286232,283996,3688506,2016-06-24
143321,99454951,7783,environmental health,Environmental health,NaN,1,689095,684182,8702964,2016-06-24
146066,116915560,8574,nuclear engineering,Nuclear engineering,NaN,1,420200,413813,1672055,2016-06-24
146128,179104552,6485,inorganic chemistry,Inorganic chemistry,NaN,1,1731412,1692196,30320623,2016-06-24
148848,131872663,8237,obstetrics,Obstetrics,medicine.medical_specialty,1,498938,494016,5153697,2016-06-24
151649,29595303,8056,media studies,Media studies,NaN,1,946914,944694,2587875,2016-06-24
151659,37621935,9520,agricultural science,Agricultural science,NaN,1,236122,232813,584267,2016-06-24
157338,21951064,8054,combinatorial chemistry,Combinatorial chemistry,NaN,1,587535,544602,6483097,2016-06-24
157410,107872376,7501,environmental chemistry,Environmental chemistry,NaN,1,738622,735068,12279959,2016-06-24
157478,184779094,6975,atomic physics,Atomic physics,NaN,1,1129856,1113457,16685449,2016-06-24
163075,111368507,7949,oceanography,Oceanography,NaN,1,538412,536600,7913267,2016-06-24
165848,33070731,8770,toxicology,Toxicology,NaN,1,279389,278374,3241207,2016-06-24
166019,549774020,9865,welfare economics,Welfare economics,NaN,1,150778,149018,484832,2016-06-24
171859,188027245,6993,polymer chemistry,Polymer chemistry,NaN,1,1298667,1227984,16179970,2016-06-24
177418,11413529,6529,algorithm,Algorithm,NaN,1,1634999,1565429,20922440,2016-06-24
183099,41999313,8093,molecular physics,Molecular physics,NaN,1,346134,339715,5802682,2016-06-24
183251,199104240,8093,marine engineering,Marine engineering,NaN,1,788612,777390,2031357,2016-06-24
186053,95444343,6310,cell biology,Cell biology,NaN,1,1828765,1805848,63224767,2016-06-24
194486,28490314,7871,speech recognition,Speech recognition,NaN,1,506446,490359,5530168,2016-06-24
200398,145236788,8450,labour economics,Labour economics,NaN,1,347945,328323,3704295,2016-06-24
203290,111472728,7373,epistemology,Epistemology,NaN,1,1067470,1057773,10373866,2016-06-24
203292,111919701,8236,operating system,Operating system,computer.software_genre,1,407017,390495,3389134,2016-06-24
203298,114793014,8762,geomorphology,Geomorphology,NaN,1,262409,261590,3088927,2016-06-24
203377,202444582,7462,pure mathematics,Pure mathematics,NaN,1,802015,740768,8331808,2016-06-24
203386,545542383,8176,medical emergency,Medical emergency,medicine.disease,1,630421,627738,3860869,2016-06-24
206051,134018914,5908,endocrinology,Endocrinology,medicine.medical_specialty,1,3181850,3169218,78731914,2016-06-24
206054,136264566,8051,economy,Economy,NaN,1,720083,711367,4045972,2016-06-24
220287,50522688,7666,economic growth,Economic growth,NaN,1,1020740,1012213,6684500,2016-06-24
220321,74650414,7375,classical mechanics,Classical mechanics,NaN,1,631088,618706,11221761,2016-06-24
226226,199289684,7286,mineralogy,Mineralogy,NaN,1,674400,671197,13734719,2016-06-24
231820,31972630,6447,computer vision,Computer vision,NaN,1,2339317,2192749,19496900,2016-06-24
234821,524765639,9647,water resource management,Water resource management,NaN,1,174535,173183,779708,2016-06-24
246044,19527891,8814,medical physics,Medical physics,medicine.medical_specialty,1,299896,298835,2338303,2016-06-24
246106,74916050,8219,classics,Classics,NaN,1,815473,814125,1807888,2016-06-24
251900,77088390,7841,database,Database,computer.software_genre,1,576634,554813,6093468,2016-06-24
254799,43617362,6579,chromatography,Chromatography,NaN,1,1958746,1922565,26918669,2016-06-24
260388,36289849,7747,social science,Social science,NaN,1,727253,725852,7047753,2016-06-24
260407,54355233,6475,genetics,Genetics,NaN,1,1314217,1304337,48678966,2016-06-24
263174,11171543,8573,psychoanalysis,Psychoanalysis,NaN,1,458163,457130,2198484,2016-06-24
263280,91375879,8420,environmental planning,Environmental planning,NaN,1,585205,581810,2644363,2016-06-24
263358,171146098,7077,automotive engineering,Automotive engineering,NaN,1,1881404,1823554,6322981,2016-06-24
266125,42475967,7972,operations research,Operations research,NaN,1,603332,597673,5123022,2016-06-24
266186,108827166,8865,internet privacy,Internet privacy,business.industry,1,275968,271298,2046635,2016-06-24
266188,114614502,7324,combinatorics,Combinatorics,NaN,1,820803,753069,9136988,2016-06-24
269091,105639569,9575,economic policy,Economic policy,NaN,1,176287,172074,740923,2016-06-24
277698,24890656,6426,acoustics,Acoustics,NaN,1,3695162,3565046,13347164,2016-06-24
280494,1276947,7771,astronomy,Astronomy,NaN,1,608512,597101,10443612,2016-06-24
280538,54286561,8561,agroforestry,Agroforestry,NaN,1,425730,424221,3124343,2016-06-24
286312,73283319,9228,financial system,Financial system,NaN,1,216533,205522,1257443,2016-06-24
289019,1862650,7175,physical therapy,Physical therapy,medicine.medical_specialty,1,1106016,1102135,18455103,2016-06-24
289024,8058405,8792,geophysics,Geophysics,NaN,1,203806,201720,2802408,2016-06-24
291900,40700,8253,industrial organization,Industrial organization,NaN,1,438984,421623,4544561,2016-06-24
294924,191897082,6698,metallurgy,Metallurgy,NaN,1,2325330,2264752,14106764,2016-06-24
300476,45355965,8818,socioeconomics,Socioeconomics,NaN,1,379518,376301,1847999,2016-06-24
300477,46312422,8462,communication,Communication,business.industry,1,242984,242274,4623018,2016-06-24
303453,78458016,8369,evolutionary biology,Evolutionary biology,NaN,1,264251,259805,6880559,2016-06-24
309083,75473681,7444,photochemistry,Photochemistry,NaN,1,649225,636659,13451998,2016-06-24
311824,21547014,8170,operations management,Operations management,NaN,1,626682,624599,3679940,2016-06-24
311907,107038049,8431,aesthetics,Aesthetics,NaN,1,543493,541269,2209618,2016-06-24
311945,161191863,7714,library science,Library science,NaN,1,1598980,1596389,2160145,2016-06-24
314676,76155785,7953,telecommunications,Telecommunications,business.industry,1,516209,506907,3853338,2016-06-24
314730,139719470,9321,macroeconomics,Macroeconomics,NaN,1,116482,111399,1666252,2016-06-24
314751,162853370,7439,marketing,Marketing,NaN,1,1004255,991012,11703836,2016-06-24
317525,9390403,6819,computer hardware,Computer hardware,business.industry,1,2155905,2012518,11066452,2016-06-24
317609,106159729,8790,financial economics,Financial economics,NaN,1,190900,185469,2665216,2016-06-24
323379,140793950,7889,animal science,Animal science,NaN,1,673148,671079,7661049,2016-06-24
326114,28826006,7407,applied mathematics,Applied mathematics,NaN,1,665883,635638,9416329,2016-06-24
331914,18547055,9127,international economics,International economics,NaN,1,220730,206919,1575314,2016-06-24
334931,151730666,8244,paleontology,Paleontology,NaN,1,397305,396061,6353647,2016-06-24
340535,46141821,8082,nuclear magnetic resonance,Nuclear magnetic resonance,NaN,1,352336,349642,5586013,2016-06-24
340646,154945302,5638,artificial intelligence,Artificial intelligence,business.industry,1,4674050,4437988,51649603,2016-06-24
340673,185544564,8159,nuclear physics,Nuclear physics,NaN,1,501620,492008,4491982,2016-06-24
346347,165556158,10408,keynesian economics,Keynesian economics,NaN,1,60568,57308,392403,2016-06-24
349219,77805123,6603,social psychology,Social psychology,NaN,1,1548454,1537712,31814745,2016-06-24
349245,105702510,6829,anatomy,Anatomy,NaN,1,1430388,1420730,24426308,2016-06-24
351981,49774154,7696,multimedia,Multimedia,computer.software_genre,1,888642,873424,5995386,2016-06-24
355011,155647269,7610,medicinal chemistry,Medicinal chemistry,NaN,1,958426,881179,7961849,2016-06-24
357946,178790620,6464,organic chemistry,Organic chemistry,NaN,1,2185567,2060453,29771858,2016-06-24
360626,459310,9527,computational science,Computational science,NaN,1,96872,94977,1298614,2016-06-24
360643,18903297,6611,ecology,Ecology,NaN,1,1710531,1705766,38570412,2016-06-24
360836,199360897,8181,programming language,Programming language,computer.software_genre,1,307313,297180,3973974,2016-06-24
363477,153349607,8392,visual arts,Visual arts,NaN,1,775787,774533,1038259,2016-06-24
366210,16005928,7959,dermatology,Dermatology,medicine.medical_specialty,1,807619,804593,5370525,2016-06-24
366314,119599485,6059,electrical engineering,Electrical engineering,business.industry,1,4394275,4178247,20567184,2016-06-24
374919,505870484,8314,fishery,Fishery,NaN,1,483431,481609,4927658,2016-06-24
377452,2524010,7331,geometry,Geometry,NaN,1,1273187,1236453,6914045,2016-06-24
377493,38652104,7601,computer security,Computer security,computer.software_genre,1,721032,703887,7157155,2016-06-24
377530,79403827,7371,real time computing,Real-time computing,NaN,1,990268,953894,7690937,2016-06-24
380585,201995342,8509,systems engineering,Systems engineering,NaN,1,400586,397974,2459357,2016-06-24
383335,510606860,14327,ceramic materials,Ceramic materials,NaN,1,539,539,9737,2016-06-24
386114,65244806,6520,control theory,Control theory,NaN,1,2175689,2108009,17257794,2016-06-24
389048,107993555,7753,gender studies,Gender studies,NaN,1,927846,925136,6064748,2016-06-24
394621,8010536,6902,crystallography,Crystallography,NaN,1,1151272,1129100,20848132,2016-06-24
394746,126322002,5138,internal medicine,Internal medicine,medicine.medical_specialty,1,8392154,8354800,148751099,2016-06-24
394808,194828623,8464,emergency medicine,Emergency medicine,medicine.medical_specialty,1,378877,377175,3769994,2016-06-24
397439,16674752,9270,mining engineering,Mining engineering,NaN,1,272738,271377,681216,2016-06-24
397567,150903083,8571,biotechnology,Biotechnology,business.industry,1,321518,320138,4559389,2016-06-24
397581,169760540,6899,neuroscience,Neuroscience,NaN,1,953592,944451,33310430,2016-06-24
397593,187320778,7765,geotechnical engineering,Geotechnical engineering,NaN,1,823797,819286,5074872,2016-06-24
400451,149782125,7398,econometrics,Econometrics,NaN,1,618554,556198,12227540,2016-06-24
403372,162118730,8392,actuarial science,Actuarial science,NaN,1,412073,401844,3493784,2016-06-24
406228,98274493,6996,pharmacology,Pharmacology,NaN,1,1477842,1450535,23689143,2016-06-24
406233,100970517,9111,physical geography,Physical geography,NaN,1,195981,195224,2239364,2016-06-24
409089,124952713,7699,literature,Literature,business.industry,1,1302456,1300634,3289673,2016-06-24
409179,204321447,7928,natural language processing,Natural language processing,computer.software_genre,1,459855,444612,5417850,2016-06-24
412018,188147891,8406,cognitive science,Cognitive science,NaN,1,267625,265794,4618259,2016-06-24
417619,34447519,9055,market economy,Market economy,NaN,1,231672,225240,1634153,2016-06-24
417733,159390177,8957,soil science,Soil science,NaN,1,189105,188241,2589231,2016-06-24
423364,175444787,8176,microeconomics,Microeconomics,NaN,1,302430,275541,5164019,2016-06-24
426177,19417346,7251,pedagogy,Pedagogy,NaN,1,1682664,1679461,9720342,2016-06-24
426361,548259974,8142,audiology,Audiology,medicine.medical_specialty,1,425037,422678,6946944,2016-06-24
429118,48824518,8943,agricultural economics,Agricultural economics,NaN,1,335086,324529,1508895,2016-06-24
429216,136764020,7458,world wide web,World Wide Web,NaN,1,1099304,1084526,7776621,2016-06-24
429232,146978453,8969,aerospace engineering,Aerospace engineering,business.industry,1,270836,267341,1186019,2016-06-24
440633,42972112,8477,veterinary medicine,Veterinary medicine,NaN,1,443548,442528,3911957,2016-06-24
443618,539667460,8266,management science,Management science,NaN,1,293543,291587,5277832,2016-06-24
449187,134306372,6837,mathematical analysis,Mathematical analysis,NaN,1,1242349,1213066,16581505,2016-06-24
451985,49204034,8068,climatology,Climatology,NaN,1,378569,375592,7396421,2016-06-24
454759,13965031,7523,nuclear chemistry,Nuclear chemistry,NaN,1,999347,984613,9103476,2016-06-24
454865,121955636,8476,accounting,Accounting,business.industry,1,488018,475855,2954319,2016-06-24
460550,136229726,7572,biomedical engineering,Biomedical engineering,NaN,1,753783,728046,10031618,2016-06-24
463305,74909509,7544,gerontology,Gerontology,NaN,1,768555,766422,12077902,2016-06-24
463361,133425853,9975,neoclassical economics,Neoclassical economics,NaN,1,71474,69096,734065,2016-06-24
469000,99508421,8182,physical medicine and rehabilitation,Physical medicine and rehabilitation,medicine.medical_specialty,1,494157,491330,5683129,2016-06-24
471797,2549261,8889,ethnology,Ethnology,NaN,1,346197,345547,1507879,2016-06-24
471800,6557445,7354,agronomy,Agronomy,NaN,1,1314124,1310161,11811492,2016-06-24
471919,119767625,9563,optometry,Optometry,NaN,1,152850,152086,1051223,2016-06-24
471960,175605778,8783,natural resource economics,Natural resource economics,NaN,1,293237,284716,2573638,2016-06-24
477479,27206212,8240,theology,Theology,NaN,1,970562,969548,913931,2016-06-24
477505,53553401,8989,genealogy,Genealogy,NaN,1,333914,333381,1227164,2016-06-24
477586,147597530,8335,computational chemistry,Computational chemistry,NaN,1,250625,246615,5774415,2016-06-24
480428,90856448,7704,zoology,Zoology,NaN,1,828078,825338,10223480,2016-06-24
489015,120314980,7569,distributed computing,Distributed computing,NaN,1,552632,537968,7281374,2016-06-24
489074,183696295,9587,biochemical engineering,Biochemical engineering,NaN,1,91148,90065,1745800,2016-06-24
491802,80444323,7513,theoretical computer science,Theoretical computer science,NaN,1,460343,438254,8313894,2016-06-24
494694,171250308,6688,nanotechnology,Nanotechnology,NaN,1,1188071,1172529,31450485,2016-06-24
503249,107053488,9626,construction engineering,Construction engineering,NaN,1,197047,196598,428714,2016-06-24
505988,16685009,8774,andrology,Andrology,NaN,1,274119,273035,3708947,2016-06-24
506038,62520636,7573,quantum mechanics,Quantum mechanics,NaN,1,484279,468799,10747889,2016-06-24
506148,178802073,9429,aeronautics,Aeronautics,NaN,1,234299,233114,499712,2016-06-24
509045,502942594,7160,cancer research,Cancer research,NaN,1,1207665,1197256,24390644,2016-06-24
511880,195094911,8471,process management,Process management,NaN,1,418273,413409,3241442,2016-06-24
517465,195244886,8098,ancient history,Ancient history,NaN,1,926098,924628,2095592,2016-06-24
520316,153911025,6283,molecular biology,Molecular biology,NaN,1,1834494,1821244,52567934,2016-06-24
523082,60644358,7918,bioinformatics,Bioinformatics,NaN,1,532383,530134,10941121,2016-06-24
528735,42407357,8317,physiology,Physiology,NaN,1,395392,393388,5536771,2016-06-24
528804,126838900,7200,radiology,Radiology,medicine.medical_specialty,1,1343309,1339180,13748627,2016-06-24
528875,186060115,9045,biological system,Biological system,NaN,1,162833,159022,2480759,2016-06-24
531624,21880701,8085,process engineering,Process engineering,business.industry,1,691666,680771,3344435,2016-06-24
531639,39549134,7263,public relations,Public relations,business.industry,1,1467034,1453701,11206636,2016-06-24
531668,59822182,6819,botany,Botany,NaN,1,1827447,1822946,25462540,2016-06-24
531689,78519656,5729,mechanical engineering,Mechanical engineering,NaN,1,9166479,8960266,18480964,2016-06-24
534478,2989005,8065,nuclear medicine,Nuclear medicine,business.industry,1,496714,495261,6216136,2016-06-24
534491,10138342,8279,finance,Finance,business.industry,1,597434,576296,3137928,2016-06-24
534518,33577790,8573,calculus,Calculus,NaN,1,203058,200653,2853260,2016-06-24
537465,100001284,8518,public economics,Public economics,NaN,1,326723,312398,3439273,2016-06-24

In [139]:
len(df_MAG_F[df_MAG_F[5] == 1])

292

In [132]:
# Please note that all data index in Original MAG are int format as 3 below.
df_MAG_Lv0_Field[df_MAG_Lv0_Field[5] == 1]
# As we find out the field ID of physics is 121332964.

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Index: []

In [14]:
%%time
# Select physics papers from SciNet_Paper_LV0Field table.
# Please note that all data index in SciNet are string format as '1' below.
Physics_Paper = SciNet_Paper_LV0Field.loc[SciNet_Paper_LV0Field['1'] == 121332964, :]
Physics_Paper

CPU times: user 879 ms, sys: 644 ms, total: 1.52 s
Wall time: 1.52 s

                    0          1         2
13           38064030  121332964  0.408722
29          132789625  121332964  0.427921
61          170361713  121332964  0.331290
62           56740737  121332964  0.288023
98          208270992  121332964  0.396003
...               ...        ...       ...
116942077  3204506570  121332964  0.399821
116942079  3204506608  121332964  0.396794
116942082  3204506667  121332964  0.373935
116942111  3204506902  121332964  0.320623
116942133  3204507122  121332964  0.431623

[5153365 rows x 3 columns]

In [15]:
%%time
# Finally select papers published from 1990 to 2000 that appear in the physics paper table.
# It is the DataFrame for physics papers from 1990 to 2000.
SciNet_Physics_Papers_1990_2000 = SciNet_Papers_Sel.loc[SciNet_Papers_Sel['MAGID'].isin(Physics_Paper['0']), :]
SciNet_Physics_Papers_1990_2000

CPU times: user 1.96 s, sys: 260 ms, total: 2.22 s
Wall time: 2.22 s

,MAGID,DOI,DocType,Year,Date,JID,ConfSID,ConfInsID,C_all,C10,R,C3,C5,NIH_count,Patent_count,Newsfeed_count,Twitter_count,NCT_count
15,35428871,10.1023/A:1022270923160,Journal,1998.0,1998-01-01,201609156.0,NaN,NaN,6.0,2.0,16.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
145,594551147,NaN,Journal,1990.0,1990-03-28,8293853.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
302,1503273383,10.1103/PHYSREVA.53.R3713,Journal,1996.0,1996-06-01,164566984.0,NaN,NaN,27.0,16.0,0.0,5.0,6.0,NaN,NaN,NaN,NaN,NaN
462,1541102892,10.1007/BF03053644,NaN,1995.0,1995-02-01,NaN,NaN,NaN,21.0,21.0,5.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN
540,1564681818,10.1023/A:1003633413004,Journal,2000.0,2000-07-01,194044894.0,NaN,NaN,12.0,8.0,11.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134128374,2532272264,10.1109/PESC.1990.131232,Conference,1990.0,1990-06-11,NaN,2.624178e+09,NaN,13.0,8.0,3.0,4.0,6.0,NaN,NaN,NaN,NaN,NaN
134128379,2545668174,10.1109/EQEC.1994.698170,Conference,1994.0,1994-08-29,NaN,2.755266e+09,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
134128428,31720894,10.1007/978-94-015-8971-0_20,NaN,1997.0,1997-01-01,NaN,NaN,NaN,1.0,0.0,10.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
134128655,175040215,10.1007/BF00793898,Journal,1993.0,1993-04-01,76739556.0,NaN,NaN,20.0,3.0,14.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN
134128758,246752543,NaN,Journal,1991.0,1991-01-01,98563347.0,NaN,NaN,2.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [16]:
%%time
# As we focus on the distribution of papers according to their citations, 
# we can extract group by citaiton and aggregate the number of papers fo each group.
Citation_cnt = SciNet_Physics_Papers_1990_2000.groupby(
    ['C_all'], as_index=False)['MAGID'].agg(['count']).reset_index().sort_values(['C_all'], ascending=True)
Citation_cnt

CPU times: user 22.5 ms, sys: 2.92 ms, total: 25.4 ms
Wall time: 24.4 ms

         C_all   count
0          0.0  238777
1          1.0   80662
2          2.0   53717
3          3.0   40189
4          4.0   32621
...        ...     ...
1575   25954.0       1
1576   43470.0       1
1577   45463.0       1
1578   60504.0       1
1579  110567.0       1

[1580 rows x 2 columns]